/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: green;
}
h6{
    font-size: 50%;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);

}
h6:hover{
    color: #fff;

}
h6::after{
    display: block;
    height: 1px;
    background-color: rgb(187, 0, 0);
    content: " ";
    width: 100%;

}

h2:after {
    display: block;
    height: 2px;
    background-color: rgb(187, 0, 0);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

p {
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
    margin-bottom: 10px;
}


/* ----- ICONS ----- */


.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: rgb(187, 0, 0);
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: rgb(187, 0, 0);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(187, 0, 0);
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: rgb(187, 0, 0);
    border: 1px solid rgb(187, 0, 0);
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(187, 0, 0);
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(187, 0, 0);
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(187, 0, 0);
}

.btn-ghost:hover,
.btn-ghost:active
{
    border: 1px solid rgb(187, 0, 0);
    color: #fff;
}
.btn p:hover{
    color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/css/img/found-it.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/css/img/found-it.jpg);
    background-size: 100% 100%;
    background-position: center;
    
    height: 100vh;
    background-attachment: fixed;
    animation: slide 30s linear infinite;
}

@-webkit-keyframes slide {
   from { background-position: 0 0; }
   to { background-position: -1350px 0; }
}
.container-top{
    border-bottom: 1px solid rgb(226, 226, 226);
    width: 100%;
}

.hero-text-box {
    position: absolute;
    background-color: rgba(10,0,0,0.8);
    width: 550px;
    padding:0 auto;
    top: 80%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hero-text-box h1{
    margin-left: 60px !important;
    font-family: monospace;
    color: rgb(161, 161, 161);
}
.hero-text-box h3{
    margin-left: 20px !important;
}

.logo {
    height: 80px;
    width: auto;
    float: left;
}


/* Main navi */
nav{
    background: #fff;
    position: fixed !important;
    width: 100%;
    z-index: 10000;
    border-bottom: 4px solid rgb(187, 0, 0);

}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 4px 0;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-bottom 0.5s, border-top 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(187, 0, 0);
    border-top: 2px solid rgb(187, 0, 0)

}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #000;
}



/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/africalogo.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/africalogo.png);
    background-size: contain no-repeat;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}
.container-top .social-links .ion-social-facebook {
    color: #3b5998;
}
.container-top .social-links .ion-social-twitter {
    color: #00aced;
}
.container-top .social-links .ion-social-googleplus {
    color: #dd4b39;
}
.container-top .social-links .ion-social-instagram {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/*
rediting styles

*/
option{
    background-color: #fff;

}
select:hover, option:hover{
   background-color: rgb(187, 0, 0) !important;
   color: #ccc;
}

.container1 {
    position: relative;
    background-color: #000;
    background-position: center;
    background-size: cover;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .row-front{
    padding-top: 5px;
  }
  
  .image {
    display: block;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0, 186, 108);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container1:hover .overlay {
    bottom: 0;
    height: 100%;
    margin: 0;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .list-block{
    display: block;
    list-style: none;
  
  }
  
  .text-center {
    text-align: center!important;
  }
  
  li{
    display: block;
    padding: 0px 10px;

  }
  li a{
    text-decoration: none;
  }
  
  li h5{
    color:#fff;
  }
  
 
  
  .transform{
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .transform:hover{
      -webkit-transform: scale(1.15, 1.15);
      transform: scale(1.15, 1.15);
      -moz-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      -o-transform: scale(1.15, 1.15);
  }


.lightbox {
      display: none;    
      position: fixed;    
      z-index: 999;    
      width: 100%;    
      height: 100%;    
      text-align: center;    
      top: 0;    
      left: 0;
    
      background: rgba(0,0,0,0.8);
    }
   
    .lightbox img {
      max-width: 60%;
      max-height: 70%;
      margin-top: 2%;
    }
   
    .lightbox:target {
      outline: none;
      display: block;
    }
    

.dropbtn {
    border: none;
    font-size: 70%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 3px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
.carousel {
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 400px;
    width: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 300px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }



@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: transparent;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 50s linear infinite;
            animation: scroll 50s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }


/*  */

  .divider {
    height: 1px;
    background-color: #eee;
}
  .conbox-top{
      margin-bottom: 20px;
  }
  .conbox-bottom{
    margin-top: 20px;

  }
  .label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;}
  .motto-wrap {
    width: 80%;
    margin-right: auto;
    margin-bottom: 85px;
    margin-left: auto;
    text-align: center;
  }
  .label.cc-light {
    opacity: 0.6;
}
img {
    display: block;
}
img {
    max-width: 100%;
    display: inline-block;
}


